.btn-container{
    display: grid;
    grid-gap: .5px;
    grid-template-columns: 24% 24% 24% 28%;
}

.btn {
    color:#222222;
    border: solid #a4a4a4 1px;
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
}
.btn.white {
    background-color: #ffffff;
}

.btn.red {
    background-color: #a0001d;
    color: white;
}

#clr {
    grid-column: 1 / 4;
    grid-row: 1;
}
#division {
    grid-column: 4 ;
    grid-row: 1;
}
#multiply {
    grid-column: 4 ;
    grid-row: 2 ;
}
#add {
    grid-column: 4;
    grid-row: 4;
}
#subtract {
    grid-column: 4;
    grid-row: 3;
}

#equals {
    grid-column: 4;
    grid-row: 5;
}

#btn0 {
    grid-column: 1 / 4;
    grid-row: 5;
}

#btn1 {
    grid-column: 1;
    grid-row: 4;
}

#btn2 {
    grid-column: 2;
    grid-row: 4;
}

#btn3 {
    grid-column: 3;
    grid-row: 4;
}

#btn4 {
    grid-column: 1;
    grid-row: 3;
}

#btn5 {
    grid-column: 2;
    grid-row: 3;
}

#btn6 {
    grid-column: 3;
    grid-row: 3;
}

#btn7 {
    grid-column: 1;
    grid-row: 2;
}

#btn8 {
    grid-column: 2;
    grid-row: 2;
}

#btn9 {
    grid-column: 3;
    grid-row: 2;
}